  <div class="row">

    <!-- Contact Details -->
    <div class="large-9 panel columns">

      <h3>Add a Kid!</h3>
      <p>Simply put your kids name in the field below, hit add and you are golden!</em></p>
        <a>

                 <h1>Kiddo</h1>
          <%= form_for [:user, @kid] do |f| %>
        <%= f.label :name %>
        <%= f.text_field :name %>
        <button class="radius button" type="submit">Add</button>
             <% end %>
             </div>
             </div>
