  <div class="row">

    <!-- Contact Details -->
    <div class="large-9 panel columns">

      <h3>Add a Reminder!</h3>
      <p>Put in anything you like! </em></p>
        <a>

        <h2>Reminder For <%= @kid.name %></h2>
        <%= simple_form_for [:user, @kid, @reminder] do |f| %>
        <%= f.input :name, label: 'What are you going to give me?' %>
        <button class="radius button" type="submit">Add</button>
             <% end %>
     </div>
     </div>
