

      <div class="row">
        <div class="large-12 columns">
          <div class="row">
            <!-- Shows -->
            <div class="large-8 small-6 columns">
<dl class="tabs vertical" data-tab style="width: 30%">
  <dd><a href="#">Kids</a></dd>
  <dd class="active"><a href="#kid1">Mikey</a></dd>
  <dd><a href="#kid2">Susy</a></dd>
  <dd><a href="#kid3">Jodey</a></dd>
  <dd><a href="#kid4">Brandon</a></dd>
</dl>
<div class="tabs-content vertical panel text-center" align="left" style="float: right; width: 70%">
  <div class="content active " id="kid1">
                <h5><a href="#">Use our App!</a></h5>
                <h6 class="subheader">
                  First click add a kid, then click add a reminder, then you are rockin!
                </h6>
                <h6><a href="#">Sign Up Now! </a></h6>
  </div>
  <div class="content" id="kid2">
    <h5><a href="#">Use our App!</a></h5>
                <h6 class="subheader">
                  First click add a kid, then click add a reminder, then you are rockin!
                </h6>
                <h6><a href="#">Sign Up Now! </a></h6>
  </div>
  <div class="content" id="kid3">
                <h5><a href="#">Use our App!</a></h5>
                <h6 class="subheader">
                  First click add a kid, then click add a reminder, then you are rockin!
                </h6>
                <h6><a href="#">Sign Up Now! </a></h6>
  </div>
  <div class="content" id="kid4">
                <h5><a href="#">Use our App!</a></h5>
                <h6 class="subheader">
                  First click add a kid, then click add a reminder, then you are rockin!
                </h6>
                <h6><a href="#">Sign Up Now! </a></h6>
  </div>
</div>
</div>
            <div class="large-4 small-12 columns">


              <div class="text-center panel hide-for-small">
                <%= link_to '#', class: "custom-success" do  %>
                  Add a kid: <i class="fi-torsos-all"></i>
                  <% end %>
              </div>



            </div>
    </div>
    </div>

  </div>
