
      <div class="row">
        <div class="large-12 columns">
          <div class="row">
            <!-- Shows -->
            <div class="large-4 small-6 columns">

              <h4>Kids</h4><hr>

              <div class="row">
                <div class="large-1 column">
                  <img src="http://placehold.it/50x50&amp;text=[img]">
                </div>

                <div class="large-9 columns">
                  <h5><a href="#">Jon</a></h5>
                  <h6 class="subheader show-for-small">Doors at 00:00pm</h6>
                </div>
              </div><hr>

              <div class="hide-for-small">
                <div class="row">
                  <div class="large-1 column">
                    <img src="http://placehold.it/50x50&amp;text=[img]">
                  </div>

                  <div class="large-9 columns">
                    <h5 class="subheader"><a href="#">Erik</a></h5>
                  </div>
                </div><hr>

                <div class="row">
                  <div class="large-1 column">
                    <img src="http://placehold.it/50x50&amp;text=[img]">
                  </div>

                  <div class="large-9 columns">
                    <h5 class="subheader"><a href="#">Cora</a></h5>
                  </div>
                </div><hr>

                <div class="row">
                  <div class="large-1 column">
                    <img src="http://placehold.it/50x50&amp;text=[img]">
                  </div>

                  <div class="large-9 columns">
                    <h5 class="subheader"><a href="#">Miles</a></h5>
                  </div>
                </div>
              </div>
            </div>


            <!-- Image -->

            <div class="large-4 small-6 columns">
              <img src="http://www.zastavki.com/pictures/1366x768/2009/People_Children_A_young_mother_with_a_child___children_012762_.jpg">
            </div>

            <!-- End Image -->


            <!-- Feed -->

            <div class="large-4 small-12 columns">

              <div class="text-center panel">
                <h5><a href="#">Use our App!</a></h5>

                <h6 class="subheader">
                  First click add a kid, then click add a reminder, then you are rockin!
                </h6>

                <h6><a href="#">Sign Up Now! </a></h6>
              </div>

              <div class="text-center panel hide-for-small">
                <a class="button radius medium" href="#">Add a Kid</a>
              </div>

              <div class="text-center panel hide-for-small">
                <a class="button radius text-center" href="#">Add a Reminder</a>
              </div>


            </div>

            <!-- End Feed -->

          </div>
        </div>
      </div>

    <!-- End Content -->


    <!-- Footer -->

      <footer class="row">
        <div class="large-12 columns"><hr>
            <div class="row">

              <div class="large-6 columns">
                  <p>&copy; Copyright no one at all. Go to town.</p>
              </div>

              <div class="large-6 small-12 columns">
                  <ul class="inline-list right">
                    <div class="fb-like" data-href="https://www.facebook.com/myfamilysinfo" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
                  </ul>
              </div>

            </div>
        </div>
      </footer>

    <!-- End Footer -->

    </div>
  </div>

